@font-face {
  font-family: 'Pudelinka';
  src: url('fonts/https://github.com/AnastasiaSimon/dem.github.io/blob/main/fonts/Pudelinka.zip') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* CSS */
.pudelinka-text {
  font-family: 'Pudelinka', cursive;
  font-size: 24px; /* или любой размер */
}


.snowflake {
  position: absolute;
  color: white;
  font-size: 1.2em;
  animation: fall linear infinite;
  user-select: none;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}


