@font-face {
    font-family: 'Pudelinka';
    src: url('fonts/Pudelinka.woff2') format('woff2'),
         url('fonts/Pudelinka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.pudelinka-text {
    font-family: 'Pudelinka', sans-serif;
    font-size: 24px; 
    color: #a8d8ea;
}
