@font-face {
  font-family: 'Pudelinka';
  src: url('fonts/Pudelinka.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* CSS */
.pudelinka-text {
  font-family: 'Pudelinka', cursive;
  font-size: 24px; /* или любой размер */
}
