@font-face {
  font-family: 'Pudelinka';
  src: url('fonts/https://github.com/AnastasiaSimon/dem.github.io/blob/main/fonts/Pudelinka.zip') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* CSS */
.pudelinka-text {
  font-family: 'Pudelinka', cursive;
  font-size: 24px; /* или любой размер */
}




#snowflakes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* чтобы снежинки не мешали кликам */
  z-index: 9999;
}

.snowflake {
  position: absolute;
  color: #fff;
  font-size: 1.2em;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  user-select: none;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
